body{
    width: auto;
    margin: 0;
    font-family:"main-font";
    padding: 0;
    text-decoration: none;
}

@font-face {
    font-family: "main-font";
    src:url(./../fonts/Basic-Regular.otf)
}

.layout {
    margin: 4rem;
}

 .flight-information {
     display: flex;
     flex-direction: row;
     margin-bottom: 1.5rem;
 }

 .flight-information input {
     border: 0;
     outline: 0;
     width: 5rem;
 }

 .flight-information button {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: flex-start;
     background-color: #FFFFFF;
     border: solid #CBD4E64D;
     height: 3rem;
 }

 .flight-search {
     background-color:#605DEC;
     color:#FAFAFA;
     width: 6rem;
     border: 0;
     border-radius: 0.25rem;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .sfo {
     width: 11rem;
     border: 0;
     border-radius: 0.25rem 0 0 0.25rem;
 }

 .nrt {
     width: 11rem;
 }

 .depart {
     width: 16rem;
 }

 .adalt {
     width: 11rem;
 }

 .flight-informations span {
     border: 0.06rem solid #CBD4E6;
     border-radius: 0.25rem;
     height: 2.4rem;
     display: flex;
     flex-direction: row;
     justify-content:center;
     align-items: center;
     gap:0.5rem;

 }
 
 .flight-informations span a {
     color:  #27273F;
     text-decoration: none;
     font-size: 1rem;
 } 

 .flight-informations {
     display: flex;
     flex-direction: row;
     gap: 1rem;
     margin-bottom: 3rem;
 }

 .price {
     width: 7.5rem;
 }

 .shop {
     width: 6rem;
 }

 .time {
     width: 6rem;
 }

 .airline {
     width: 6.5rem;
 }

 .seat {
     width: 7.6rem;
 }

 .more {
     width: 5.4rem;
 }

 .departing-flights {
     display: grid;
     grid-template-columns:2fr 1fr;
 }

 .flight-row {
     display: flex;
     flex-direction: row;
     align-items: center;
     gap:1.5rem;
 }

 .flight-rows {
     display: flex;
     flex-direction: column;
 }

 .flight-row-scroll {
     height: 28rem;
     overflow-y:scroll;
     border: 0.06rem solid#F6F6FE;
     border-radius: 0.5rem;
     scrollbar-width: none;
 }
 
.show-flights {
     border: 0.06rem solid  #605DEC;
     border-radius: 0.25rem;
     text-decoration: none;
     color: #605DEC;
     width: 8rem;
     height: 1.5rem;
 }