body {
    padding: 0;
    margin: 0;
    font-family: "main-font";
    text-decoration: none;
}

@font-face {
    font-family: "main-font";
    src: url(./../fonts/Basic-Regular.otf);
}

.header {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    align-content: center;
    /* margin: 1rem 2.25rem; */
    padding-left: 2rem;
    padding-right: 2rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    z-index: 50;
}

.header h1 {
    color: #605DEC;
    font-size: xx-large;
    font-weight: bolder;
    margin: 0;
    width: 6.75rem;
    height: 1.75rem;
}

.nav a {
    text-decoration: none;
    cursor: default;
}

.signup-button {
    background-color: #605DEC;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    height: 3rem;
}

.signup-button:hover {
    background-color: blue;
}

.header ul li {
    list-style: none;
    padding: 0.625rem;
    color: #7C8DB0;
    font-size: 1rem;
    font-weight: 300;
}

.header ul li:hover {
    color:#605DEC;
    cursor: pointer;
}
.nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav ul {
    display: flex;
    gap: 1rem;
}

.flight-search {
    width: 100%; 
    height: 44rem;
    background-image: url(./../img/world-map.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5rem;
    justify-content: center;
}

.flight-titel span {
    color:#605DEC;
    text-align: center;
    mix-blend-mode:hard-light;
    font-weight: bold;
    font-size: 6rem;
}

.flight-titel {
    max-width: 38rem;
    text-align: center;
}

.fligt-input {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    height: 3rem;
    box-shadow: 0 0.12rem 0.25rem  #CBD4E6;

}

.fligt-input input {
    border: 0;
    outline: 0;
}

.fligt-input button {
    display: flex;
    flex-direction: row;
    align-items: center;
    border:0.06rem solid #7C8DB0;
    background-color: #FFFFFF;
    justify-content: flex-start;
}

.from-where {
    width: 20rem;
    border-radius: 0.25rem 0 0 0.25rem;
   
}    

.where-to {
    width: 20rem;
}

.depart-return {
    width: 15rem;
}

.adult {
    width: 12rem;
}

.search {
    background-color: #605DEC;
    width: 6rem;
    border-radius: 0.25rem;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

}

.search:hover {
    background-color: blue;
}
