body {
    padding: 0;
    font-family: "main-font";
    text-decoration: none;
    width: auto;
    margin: 0;
}

@font-face {
    font-family: "main-font";
    src: url(./../fonts/Basic-Regular.otf);
}

.layout{
    margin: 4rem;
}

.header {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    align-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    z-index: 50;
}

.header h1 {
    color: #605DEC;
    font-size: xx-large;
    font-weight: bolder;
    margin: 0;
    width: 6.75rem;
    height: 1.75rem;
}

.nav a {
    text-decoration: none;
    cursor: default;
}

.signup-button {
    background-color: #605DEC;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 0.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    height: 3rem;
}

.signup-button:hover {
    background-color: blue;
}

.header ul li {
    list-style: none;
    padding: 0.625rem;
    color: #7C8DB0;
    font-size: 1rem;
    font-weight: 300;
}

.header ul li:hover {
    color:#605DEC;
    cursor: pointer;
}
.nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav ul {
    display: flex;
    gap: 1rem;
}

.flight-search {
    width: 100%; 
    height: 44rem;
    background-image: url(./../img/world-map.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5rem;
    justify-content: center;
}

.flight-titel span {
    color:#605DEC;
    text-align: center;
    mix-blend-mode:hard-light;
    font-weight: bold;
    font-size: 6rem;
}

.flight-titel {
    max-width: 38rem;
    text-align: center;
}

.fligt-input {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    height: 3rem;
    box-shadow: 0 0.12rem 0.25rem  #CBD4E6;

}

.fligt-input input {
    border: 0;
    outline: 0;
}

.fligt-input button {
    display: flex;
    flex-direction: row;
    align-items: center;
    border:0.06rem solid #7C8DB0;
    background-color: #FFFFFF;
    justify-content: flex-start;
}

.from-where {
    width: 20rem;
    border-radius: 0.25rem 0 0 0.25rem;
   
}    

.where-to {
    width: 20rem;
}

.depart-return {
    width: 15rem;
}

.adult {
    width: 12rem;
}

.search {
    background-color: #605DEC;
    width: 6rem;
    border-radius: 0.25rem;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

}

.search:hover {
    background-color: blue;
}

.flight-fotos {
    display:flex;
    flex-direction: row;
    gap: 2.5rem;
}


.flight-fotocity img {
    border-radius: 1.25rem 1.25rem 0 0 ;
    width: 82rem;
    height: 25rem;
}

.flight-fotocities img {
    border:none;
    border-radius: 1.25rem 1.25rem 0 0 ;
    width: 25.7rem;
    height: 25rem;
}

.flight-fotocity {
    margin-bottom: 2.5rem;
}

.flight-foto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1.5rem;
}

.flight-deals-title {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap:0.3rem;
    margin-bottom: 1.5rem;
    padding-left:2.4rem;
}

.flight-deals-title>span {
    color:#7C8DB0;
}

.flight-deals-title :nth-child(2) {
    color:#605DEC;
}

.border {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    border: 0.06rem solid  #FFFFFF;
    border-radius: 0 0 1.25rem 1.25rem ;
    width: 25.6rem;
    height: 5rem;
    box-shadow: 0 0.12rem 0.25rem  #CBD4E6;
}

.bund-shanghai {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:1.25rem 1.25rem 0 1.25rem;
}

.bund-sydney {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:1.25rem 1.25rem 0 1.25rem;
}

.bund-kyoto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:1.25rem 1.25rem 0 1.25rem;
}

.bund-kenya {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:1.25rem 1.25rem 0 1.25rem;
}

.bund-shanghai1 :nth-child(2) {
    color: #605DEC;
    font-size: 1.1rem;
}

.bund-shanghai span {
    color: #7C8DB0;
    font-size: 1.1rem;
}

.china-city {
    margin:0 1.25rem 1.25rem 1.25rem;
}

.china-city span {
color: #CBD4E6;
font-size: 1rem;
}

.bund-sydney1 :nth-child(2) {
    color: #605DEC;
    font-size: 1.1rem; 
}

.bund-sydney span {
    color: #7C8DB0;
    font-size: 1.1rem;
}

.stroll-city {
    margin:0 1.25rem 1.25rem 1.25rem;
}

.stroll-city span {
    color: #CBD4E6;
    font-size: 1rem;
}

.bund-kyoto1 :nth-child(2) {
    color: #605DEC;
    font-size: 1.1rem;
}

.bund-kyoto span {
    color: #7C8DB0;
    font-size: 1.1rem;  
}

.strikt-city {
    margin:0 1.25rem 1.25rem 1.25rem;  
}

.strikt-city span {
    color: #CBD4E6;
    font-size: 1rem;
}

.kenya-border {
    width: 81.5rem;
    height: 5.18rem;
    border: 0.25rem solid  #FFFFFF;
    box-shadow: 0 0.12rem 0.25rem  #CBD4E6;
    border-radius: 0 0 1.25rem 1.25rem ;
}

.bund-kenya :nth-child(2) {
    color: #605DEC;
    font-size: 1.1rem;
}

.bund-kenya span {
    color: #7C8DB0;
    font-size: 1.1rem;  
}

.river-city {
    margin:0 1.25rem 1.25rem 1.25rem;
}

.river-city span {
    color: #CBD4E6;
    font-size: 1rem;
}


.user-city {
    display: flex;
    flex-direction:column
}

.user-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    color: #6E7491;
    margin-bottom: 0.6rem;
}

.user-comment {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    align-items: center;
    max-width: 20rem;
    font-size: 1.1rem;
    color: #333333;
}

.user-comment span {
    color:  #605DEC;
}

.users {
    display: flex;
    flex-direction: row;
    gap:5rem;

}

.users-saying {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 6.5rem;
}

.trimpa-users {
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    color:  #6E7491;
}

.trimpa-users :nth-child(2) {
    color: #605DEC;
}


.explore-places-to-stay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explore-place {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 57rem;
}

.explore-place p {
    font-size: 1.5rem;
    font-weight: 700;
    color: #6E7491;
}

.explore-place span {
    color:Turquoise;
}

.all {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
}

.all a {
    text-decoration: none;
    font-size: 1.5rem;
    color: Grey;
}

.places-to-stay {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

.stay-in {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    width: 25.5rem;
    border: 1px solid White;
    border-radius: 1.25rem;
    box-shadow: 0px 12px 24px 0px #1B3B770D,
                0px 24px 60px 0px #062F7D0D,
                0px 2px 4px 0px #0704921A;
}

.stay-in img {
    max-width: 25.5rem;
    height: 24.5rem;
    border-radius: 1.25rem 1.25rem 0 0;
}

.stay-in-country {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    max-width: 25.5rem;
    height: 8rem;
    padding: 1rem 1.5rem;
}

.stay-in-country p {
    font-size: 1.125rem;
    color: #6E7491;
}

.stay-in-country :nth-child(2) {
    font-size: 1rem;
    color: #7C8DB0;
}

.country {
    color:Turquoise;
}

.explore {
    background-color: #605DEC;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    width: 12rem;
    height: 3rem;
    margin-top: 5rem;
}

.explore a {
    text-decoration: none;
    font-size: 1.125rem;
    color: #FAFAFA;
}

.explore:hover {
    background-color: #1513A0;
}

.explore a:hover {
    cursor: default;
}





footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    margin-top: 7.5rem;
}

.footer-first {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

.footer-columns {
    display: flex;
    flex-direction:column;
    gap: 1rem;
}

.footer-columns :nth-child(1) {
    font-size: 1.125rem;
    font-weight: 700;
    color: Grey;
}

.footer-columns , span {
    font-size: 1rem;
    font-weight: 400;
    color: Grey;
}

.footer-columns img {
    width: 8.5rem;
    height: 2.5rem;
}

.footer-second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #CBD4E6;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
}

.footer-social {
    display: flex;
    flex-direction: row;
    gap: 1.375rem;
}

.footer-second span {
    font-size: 1rem;
    color:Grey;
}


